<html>
<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>{% block title %}Base{% endblock %}</title>

  </head>
<body>
  <div class="container">
    <br>
    <p>Built by 200020158-200260047</p>
    {% block css%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'explore' %}" >Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    <main>
      {% block content %}
      <h1>Base</h1>>
      {% endblock %}
    </main>
  </div>
</body>
</html>